.game-mode-card {
    display: flex;
    flex-direction: row wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.banner {
    display: flex;
}

.select-mode {
    margin: 40px;
    font-size: 24px;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-size: 40px;

}